/** Animation **/

.theme-mode-animation {
  animation: change-theme-mode 0.5s infinite;
}

.scale-opacity {
  animation: scale-opacity 2.5s infinite;
}

@keyframes change-theme-mode {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}
